---
import type { Album } from '@/data/albums'
import { SinglePlaySong } from "@/components/common/SinglePlayButton"
import type { Artist } from '@/data/artists'
import type { Song } from '@/data/songs'
import { CardPlayButton } from '../common/CardPlayButton'
import type { Playlist } from '@/data/playlist'

interface Props {
    mostRelevantResult: Song | Album | Artist | Playlist
}

// type Guards
const isArtist = (item: any) : item is Artist => item.type == 'Artist';
const isSong = (item: any) : item is Song => item.type == "Single";
const isAlbum = (item: any) : item is Album => item.type == "Album";
const isPlaylist = (item: any) : item is Playlist => item.type == "Playlist";

const {mostRelevantResult} = Astro.props

const title = isArtist(mostRelevantResult) ? mostRelevantResult.name : mostRelevantResult.title
const cover = isSong(mostRelevantResult) ? mostRelevantResult.image : mostRelevantResult.cover
const artists = isArtist(mostRelevantResult) ? [mostRelevantResult.name] : mostRelevantResult.artists ?? []
const id = isArtist(mostRelevantResult) && mostRelevantResult.playlists?.length ? mostRelevantResult.playlists[0] : mostRelevantResult.id
const playlist = isArtist(mostRelevantResult) ? mostRelevantResult.playlists ?? [] : isAlbum(mostRelevantResult) || isPlaylist(mostRelevantResult) ? mostRelevantResult.songs ?? [] : [];

const imageStyle = isArtist(mostRelevantResult) ? "rounded-full" : "rounded-md";

const href = isArtist(mostRelevantResult) 
    ? `/intl-es/artist/${mostRelevantResult.id}` 
    : isPlaylist(mostRelevantResult) ? `/playlist/${id}` 
    : isAlbum(mostRelevantResult) ? `/intl-es/album/${id}` 
    : `/intl-es/track/${id}`

---

<a href={href} class="relative flex flex-col gap-2 p-6 w-md rounded-md justify-center group bg-zinc-800 hover:bg-zinc-700">
    <picture class={`w-24 h-24 ${imageStyle} overflow-hidden`}>
        <img src={cover} alt={`image of ${title} song`} class="w-full object-cover">
    </picture>
    <div>
        <h1 class="text-3xl font-extrabold text-white">
            {title}
        </h1>
        <p class="text-sm text-zinc-400">{mostRelevantResult.type} • 
            <span class="text-white">
                {artists.join(', ')}    
            </span>
            <div class="absolute right-4 bottom-6 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10">
                {playlist?.length > 0 && !isSong(mostRelevantResult) &&
                    <CardPlayButton id={id} className={''} client:visible />
                }
                {
                    isSong(mostRelevantResult) && 
                    <SinglePlaySong song={mostRelevantResult} className={'bg-green-500 hover:scale-105  rounded-full  hover:bg-green-400'} client:visible />
                }
            </div>
        </p>
    </div>
</a>